<div class="content">
  <div *ngIf="menuType">
    <h1 class="title">
      {{ chosenType === "Anime" ? "Most Popular Anime" : "Most Popular Manga" }}
    </h1>
  </div>
  <div class="filters-layout">
    <div class="filter-button">
      <button mat-icon-button [matMenuTriggerFor]="menuType">
        <mat-icon>tune</mat-icon>
      </button>
      <span>Filter</span>
    </div>
    <mat-menu #menuType="matMenu">
      <mat-radio-group
        [(ngModel)]="chosenType"
        (ngModelChange)="onTypeChange($event)"
      >
        <mat-radio-button
          class="radio-button"
          *ngFor="let typeShow of shows"
          [value]="typeShow"
        >
          {{ typeShow }}
        </mat-radio-button>
      </mat-radio-group>
    </mat-menu>
  </div>
  <div class="row">
    <div *ngFor="let anime of data" class="card">
      <img [src]="anime.images.jpg.image_url" class="image" alt="Anime Image" />
      <div class="text-block">
        {{ anime.title }}
      </div>
    </div>
  </div>
</div>
