<div class="content">
  <div *ngIf="menuSort">
    <h1>
      {{
        sortShow === "Popularity" ? "Most Popular Anime" : "Newly Added Anime"
      }}
    </h1>
  </div>
  <div class="filters-layout">
    <!-- START SORTING FILTER -->
    <div class="filter-button">
      <button mat-icon-button [matMenuTriggerFor]="menuSort">
        <mat-icon>sort</mat-icon>
      </button>
      <span>{{ sortShow }}</span>
    </div>
    <mat-menu #menuSort="matMenu">
      <mat-radio-group [(ngModel)]="sortShow">
        @for (sort of sorting; track sort) {
        <mat-radio-button class="radio-button" [value]="sort">{{
          sort
        }}</mat-radio-button>
        }
      </mat-radio-group>
    </mat-menu>
    <!-- END SORTING FILTER -->
    <!-- START SHOWTYPE FILTER -->
    <div class="filter-button">
      <button mat-icon-button [matMenuTriggerFor]="menu">
        <mat-icon>tune</mat-icon>
      </button>
      <span>Filter</span>
    </div>
    <mat-menu #menu="matMenu">
      <mat-radio-group [(ngModel)]="chosenType">
        @for (typeShow of shows; track typeShow) {
        <mat-radio-button class="radio-button" [value]="typeShow">{{
          typeShow
        }}</mat-radio-button>
        }
      </mat-radio-group>
    </mat-menu>
    <!-- END SHOWTYPE FILTER -->
  </div>
  <div class="row">
    <div *ngFor="let anime of data" class="card">
      <img [src]="anime.images.jpg.image_url" class="image" alt="Anime Image" />
      <div class="text-block">
        {{ anime.title }}
      </div>
    </div>
  </div>
</div>
