<mat-grid-list cols="4" rowHeight="1:1">
  <mat-grid-tile *ngFor="let anime of data">
    <mat-card class="anime-card">
      <img
        mat-card-image
        [src]="anime.images.jpg.image_url"
        alt="Anime Image"
      />
      <mat-card-header>
        <mat-card-title>{{ anime.title }}</mat-card-title>
        <mat-card-subtitle
          ><a [href]="anime.trailer.url" class="link" target="_blank"
            >Trailer</a
          >
          <p>Episodes: {{ anime.episodes }}</p>
        </mat-card-subtitle>
      </mat-card-header>
    </mat-card>
  </mat-grid-tile>
</mat-grid-list>
