.mat-toolbar {
  display: flex;
  align-items: center;
  background-color: #23252b;

  .logo {
    max-height: 100%;
    max-width: 100%;
    margin-right: 10px;
  }

  .title {
    color: white;
    font-weight: bold;
  }

  .spacer {
    flex: 1 1 auto;
  }

  .menu-buttons {
    display: flex;
    justify-content: flex-end;
    padding-right: 16px;
  }

  .menu-buttons > button {
    margin-left: 10px;
  }
  a {
    color: white;
    text-decoration: none;
    cursor: pointer;
  }
}
